.culture-card {
background:#fff;
border-radius:20px;
overflow:hidden;
box-shadow:0 10px 30px rgba(0,0,0,.06);
transition:.35s ease;
}

.culture-card-image {
height:200px;
background-size:cover;
background-position:center;
}

.culture-card-content {
padding:35px;
min-height:270px;
}
